.header-admin{
    -webkit-box-shadow: 0px 6px 17px 3px #898989; 
box-shadow: 0px 6px 17px 3px #898989;
}
.header-admin{
    height:68px;
    max-height:68px;
}
.content-admin{
    display:flex;
    justify-content: space-between;
    margin:0 auto;
    width:95%;
    align-items: center;
    margin-top:-4px;

}
.content-admin img{
    width:80%;
}
.ant-layout .ant-layout-header{
    height:0px;
}
.ant-layout .ant-layout-sider {
    width:300px;
    max-width: 300px;
    min-width:300px;
}
element.style {
    flex: 0 0 300px;
    max-width: 300px;
    width: 300px;
}
.ant-menu .ant-menu-item {
    padding:10px 20px;
}
.header-admin .ant-layout .ant-layout-sider {
    width:300px;
    max-width: 300px;
    min-width:300px;
}
.ant-layout-sider .ant-menu{
    padding:20px 20px;
}
.ant-layout .ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #242849;
}
.ant-layout-sider-children .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #242849;
}
.ant-layout .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: transparent;
}
.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background: transparent;
}
.ant-form .ant-row .ant-form-item{
    row-gap:100px;
}
.btn-add{
    background:linear-gradient(120deg, #CC3366 20%, #663366 100%);  
}
.admin_dashboard span {
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block; color: #4c268f;
  margin:30px 0 20px 0;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

.admin_dashboard span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: attr(filter-content);
  filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

.admin_dashboard svg {
  display: none;
}